body {
    background: #999 url('../img/bg.png') 0 0 repeat;
    font-family: monospace;
}

.content {
    width: 800px;
    margin: 50px auto;
    background: #fff;
    box-shadow: 0 0 30px 2px rgba(0,0,0,0.5);
    text-align: center;
}

#results {
    width: 100%;
}

#results td {
    font-size: 14px;
    text-align: left;
    border: 1px #ccc solid;
    padding: 7px;
}

input, button {
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 7px;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}